.botao {
    background-color: red;
    border: black;
    color:white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    color: white;
}