.paiMestre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.centralizar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centralizar p{
    margin: 10;
    font-size: 25px;
}
.colunaPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabuleiro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inimigo{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 70px);
    margin-top: 10px;
    margin-bottom: 10px;
}
#jogador{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 70px);
    margin-top: 20px;
    margin-bottom: 10px;
}
.caixa{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    background-color: #cecece;
}
.caixaSoma{
    display: grid;
    grid-template-columns: repeat(3, 70px);
    padding-left: 4px;
}
div.final{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.final div{
    display: flex;
    align-items: center;
    justify-self: space-around;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #212121;
    border-radius: 10px;
}
.final div p{
    margin-right: 10px;
    margin-left: 10px;
}
.centralizar img{
    width: 200px;
    height: 200px;
}
.colunaEsquerda {
    margin-top: 200px;
    border: 2px solid #212121;
    border-radius: 20px;
    padding: 10px;
}
.colunaDireita {
    border: 2px solid #212121;
    border-radius: 20px;
    padding: 10px;
    margin-top: -550px;
}
.botao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 67px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff00;
}
.divInimiga{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 67px;
    border: none;
}
.botao:hover {
    background-color: red;
}
.centralizar p{
    margin: 5px;
    font-size: 25px;
}
.caixa p{
    color: black;
}

@keyframes colocaPeca {
    0% {background-color: #cecece;}
    50% {background-color: rgb(121, 121, 121);}
    100% {background-color: #cecece;}
}

.colocar {
    animation: colocaPeca 0.5s;
}

@keyframes retiraPeca {
    0% {background-color: #cecece;}
    50% {background-color: #dd6161;}
    100% {background-color: #cecece;}
}
.retirar{
    animation: retiraPeca 0.5s;
}

@keyframes shake {
    0% {transform: translateX(0px);}
    25% {transform: translateX(5px);}
    50% {transform: translateX(0px);}
    75% {transform: translateX(-5px);}
    100% {transform: translateX(0px);}
}

.shake {
    animation: shake 0.5s;
}

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("Sprites\backgroundinicial.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
