.paiMestre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.centralizar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centralizar p{
    margin: 10;
    font-size: 25px;
}
.colunaPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabuleiro{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 20px;
    margin-bottom: 10px;
}
.caixa{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    padding: 5px;
    background-color: #cecece;
}
.caixaSoma{
    display: grid;
    grid-template-columns: repeat(3, 70px);
}
.botoes{
    display: grid;
    grid-template-columns: repeat(3, 70px);
}
.botao{
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}
div.final{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.final div{
    display: flex;
    align-items: center;
    justify-self: space-around;
}
.final div p{
    margin: 10px;
}
.centralizar img{
    width: 200px;
    height: 200px;
}

@keyframes colocaPeca {
    0% {background-color: #cecece;}
    50% {background-color: rgb(121, 121, 121);}
    100% {background-color: #cecece;}
}

.colocar {
    animation: colocaPeca 0.5s;
}

@keyframes retiraPeca {
    0% {background-color: #cecece;}
    50% {background-color: #dd6161;}
    100% {background-color: #cecece;}
}
.retirar{
    animation: retiraPeca 0.5s;
}